input {
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}
input:invalid[focused="true"] {
  border: 1px solid red;
}
input:invalid[focused="true"] ~ span {
  display: block;
}
.label {
  margin: 20px 0px -5px 70px;
}
